#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    white-space: nowrap;
    margin-top: 1%;
    margin-left:28vw;
}
#nav > li{
    display: inline;
    margin-right: 3vw;
    font-size: 1.45vw;
    color: rgb(94, 94, 94);
}
#view{
    margin-left: 3vw;
    margin-right: 2vw;
    height: 3vw;
    width: 3.3vw;
    display: inline;
    transform: translate(1vw,0.8vw);
}
#Taiwan{
    text-align:left;
    display:inline;
    font-size: 2vw;
    color: #08A6BB;
}
#nav li:hover {
    background:#eee;
    color: #08A6BB;
}

#frontpapge{
    display: flex;
    justify-content: center; 
    align-items: center;
}
#frontphoto{
    margin-top: 1.5vw;
    width: 100%;
    height: 38vw;
}
#word{
    position:absolute;
    z-index: 10;
}
#frontpapge > #word > h1{
    display: block;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow:3px 3px 3px #6d6d6d;
    font-size: 4vw;
    justify-content: center; 
    align-items:center;
}
#select{
    display: inline-block;
}
 #frontselect_1{
    color: #929292;
    position: relative;
    font-family: 'PingFangTC', '微軟正黑體', sans-serif;
    height: 2.25vw;  
    border: 1px solid #ccc;
    width: 15vw; 
    margin-right: 10px;
    margin-left: auto;
}
#frontselect_2{
    color: #929292;
    position: relative;
    font-family: 'PingFangTC', '微軟正黑體', sans-serif;
    height: 2.25vw;  
    border: 1px solid #ccc;
    width: 20vw; 
    margin-right: 10px;
    margin-left: auto;
}
#search{
    width: 2.2vw;
    height: 2.2vw;
    transform: translate(0vw,0.9vw);
    
}
.content{
    font-weight:bolder;
    color: #08A6BB;
    margin-left: 5%;
    font-size: 3vw;
}
.content_1{
    color: rgb(133, 133, 133);
    margin-left: 5%;
    font-size: 1.05vw;
}
.hot{
    height: 20vw;
    width: 20.5vw;
    position: relative;
    border-radius: 10px;
    box-shadow:3px 3px 3px #cccccc;
}
.icon{
    border-radius: 10px;
    position: absolute;
    top: 17vw;
    right : 0vw;
    display: block;
    background: rgb(255, 255, 255);
    box-shadow:3px 3px 3px #cccccc;
    height: 10vw;
    width: 20.5vw;
}
.icon > .top{
    text-align: center;
    font-weight: bold;
    font-size: 1.25vw;
}
.icon > .Local{
    text-align: left;
    margin-left: 4vw;
    font-weight: bold;
    color: rgb(138, 138, 138);
    transform: translate(0vw,-0.45vw);
    font-size:1vw;
}
.icon > .more{
    height: 1.8vw;
    width: 12vw;
    margin-left: 20%;
    margin-right: 20%;
    color: #08A6BB;
    text-align: center;
    font-weight: bold;
    border: #08A6BB solid 0.3vw;
    border-radius: 1vw;
    font-size: 1.25vw;
}
.hot .more:hover {
    background:#eee;
    color:#08A6BB;
}
.local{
    position: absolute;
    top: 3.7vw;
    left : 2vw;
    display: block;
    width: 1.5vw;
    height: 1.7vw;
}
#picture > ul > li{
    margin-left: 3%;
    margin-top: 3%;
    padding: 3.5%;
    display: inline-block;
}
#space_1{
    margin-top: 5vw;
}
#space_2{
    margin-top: 10vw;
}
.activ{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
#sun{
    margin-top: 5vw;
    width:100%;
    height:100%;
}
#last{
    height: 75px;
    background-color: #08A6BB;
}
.jsp{
    text-align: center;
}
#footer{
    position: relative;
    height: 75px;
    color: #eee;
    background-color: #08A6BB;
    text-align: center;
}
html {
    scroll-behavior: smooth;
  }